.admin-adventures {
    height: 450px;
    $width: 1000px;
    width: $width;
    left: calc(50% - #{$width} / 2);

    .window-content {
        height: 390px;
        padding: 10px 0;
        overflow: auto;
        @include scrollbar($windows-bg);

        .create {
            margin: 0 0 14px 15px;
            display: inline-block;
            color: $light-grey;
            border: 1px solid $borders;
            background-color: $body-bg;
            border-radius: 3px;
            padding: 8px 6px;
            font-family: $fonts;
            cursor: pointer;
            font-size: 1.1em;
            transition-duration: 0.5s;

            &:hover {
                background-color: $borders;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid $borders;
            border-width: 2px 0;
            border-radius: 3px;
            margin-bottom: 20px;

            thead {
                tr:first-child {
                    background-color: $body-bg;
                }
            }

            td,
            th {
                padding: 12px 10px;
            }

            th {
                text-align: left;
            }

            tr {
                border-bottom: 2px solid $borders;

                &:hover {
                    background-color: #242424;
                }

                .edit {
                    cursor: pointer;
                    color: $edit;
                    transition-duration: 0.3s;
                    
                    &:hover {
                        color: #19508b;
                    }
                }

                .delete {
                    cursor: pointer;
                    color: $delete;
                    transition-duration: 0.3s;

                    &:hover {
                        color: #9b4545;
                    }
                }
            }
        }
    }
}
