.characteristics {
    width: 420px;
    bottom: 30px;
    left: 10px;

    .window-content {
        padding: 6px 18px 10px 18px;

        h3 {
            text-align: center;
            font-weight: 400;
            margin: 0 0 30px 0;
            font-size: 1.15em;
        }

        .xp {
            margin-bottom: 25px;

            p {
                margin-bottom: 8px;
            }

            .bar {
                background-color: $body-bg;
                border: 1px solid #000;
                box-sizing: border-box;

                .progress {
                    height: 21px;
                    text-align: center;
                    background-color: $dark-moderate-blue;
                }
            }
        }
    }
}
