.modal {

    .modal-overlay {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-content {
            background-color: $windows-bg;
            padding: 8px 10px;
            font-size: 1.15em;
            border-top: 5px solid $dark-moderate-blue;

            form {
                padding: 0 35px 15px;
                width: 350px;

                h2 {
                    margin-top: 6px;
                }

                label {
                    font-size: 0.9em;
                }

                input {
                    font-family: $fonts;
                    font-size: 1em;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                    border: 2px solid $borders;
                    padding: 5px;
                    display: block;
                    width: 100%;

                    &[type='submit'] {
                        background-color: $light-grey;
                        border: 1px solid $borders;
                        padding: 3px 25px;
                        cursor: pointer;
                        outline: none;
                        font-size: 1.1em;
                        transition-duration: 0.5s;
                        margin-top: 25px;

                        &:hover {
                            background-color: #a4a4a4;
                        }
                    }
                }
            }

            &.adventure-completed {
                width: 450px;
                padding: 10px 15px;
            }

            .modal-close {
                font-size: 1.2em;
                display: flex;
                justify-content: flex-end;

                i {
                    cursor: pointer;
                }
            }

            .info-message {
                margin: 6px 12px 18px 12px;
            }
        }
    }
}
