.custom-scrollbar::-webkit-scrollbar {
    background: $windows-bg;
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: $windows-bg;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border: 2px solid $windows-bg;
    background: #171717;
    border-radius: 20px;
}
