$fonts: 'Varela Round', sans-serif;

$error: #b10b28;
$xp-bar: #24769c;
$dark-moderate-blue: #316278;
$very-light-grey: #f5f5f5;
$light-grey: #e0e0e0;
$windows-bg: #2b2b2b;
$body-bg: #212121;
$borders: #000;
