$fonts: 'Varela Round', sans-serif;

$error: #b10b28;
$xp-bar: #24769c;
$dark-moderate-blue: #316278;

$edit: #247bcc;
$delete: #db665e;
$warn: #d4861e;

$very-light-grey: #f5f5f5;
$light-grey: #e0e0e0;
$separator: #757575;
$selected: #515151;
$windows-bg: #2b2b2b;
$body-bg: #212121;
$borders: #000;

$common: #79ba43;
$rare: #1f91d0;
$epic: #9734bd;
$legendary: #d47f2f;
