.window {
    background-color: $windows-bg;
    border: 2px solid $borders;
    box-sizing: border-box;

    &:not(.login-register) {
        display: none;
        position: absolute;
        z-index: 10;
    }

    .window-title {
        margin: 0;
        font-weight: 400;
        font-size: 1.1em;
        padding: 5px 15px;
        text-align: center;
        background-color: $dark-moderate-blue;
        border-bottom: 2px solid $borders;
        position: relative;
        display: flex;
        justify-content: center;
        user-select: none;
        cursor: move;

        .window-close {
            font-size: 1.2em;
            position: absolute;
            right: 0;
            cursor: pointer;

            .icon-close {
                padding: 6px;
            }
        }
    }

    .btn-group {
        display: flex;

        button {
            flex-basis: 50%;
            background-color: $light-grey;
            border: solid $borders;
            padding: 5px 15px;
            font-size: 1.1em;
            background-color: transparent;
            font-family: $fonts;
            color: $light-grey;
            cursor: pointer;
            outline: none;

            &.active {
                background-color: $very-light-grey;
                color: $body-bg;
                cursor: default;
            }

            &:first-child {
                border-width: 0 1px 2px 0;
            }

            &:last-child {
                border-width: 0 0 2px 1px;
            }
        }
    }
}

@media all and (max-width: 900px) {
    body .window:not(.login-register) {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
    }
}
