@import "mixins/placeholder";
@import "mixins/separator";
@import "mixins/scrollbar";
@import "variables";
@import "window";
@import "chat";
@import "characteristics";
@import "admin-panels";
@import "inventory";
@import "adventures";
@import "modal";

html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        background-color: $body-bg;
        color: $light-grey;
        font-family: $fonts;
        font-weight: 400;
        overflow: hidden;

        header {

            .xp-bar {
                background-color: #1b4255;

                .progress {
                    height: 6px;
                    background-color: $xp-bar;
                    width: 50%;
                }
            }

            .info {
                display: flex;
                padding: 15px 15px 0 15px;


                .money {
                    font-size: 1.6em;
                    font-weight: 700;

                    span:first-child {
                        margin-right: 30px;
                    }
                }

                .user {
                    margin: 0 auto;
                    text-align: center;

                    .pseudo {
                        font-size: 1.3em;
                        margin: 0;
                    }

                    .lvl {
                        margin-top: 2px;
                    }
                }

                .options {
                    font-size: 1.8em;

                    a {
                        color: $light-grey;
                        margin-left: 8px;
                    }
                }
            }
        }

        #content {
            position: relative;
            overflow: hidden;
            height: 100vh;
        }

        .menu {
            display: flex;
            justify-content: center;
            border-top: 2px solid $light-grey;
            background-color: $body-bg;
            position: relative;

            #admin-menu {
                border: 2px solid $borders;
                border-bottom-width: 0;
                background-color: $windows-bg;
                padding: 0;
                text-align: center;
                position: absolute;
                z-index: 99999;
                right: 0;
                top: 0;
                transform: translateY(calc(-100% - 2px)); // 2px for footer border top
                display: none;

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                        padding: 6px 12px;
                        text-transform: uppercase;
                        cursor: pointer;
                        margin: 7px 0 7px 0;

                        &:hover {
                            background-color: $selected;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid $light-grey;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            #open-admin-menu-btn {
                color: #d5ce00;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .item {
                box-sizing: border-box;
                width: 70px;
                height: 70px;
                margin: 5px;
                padding: 6px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &.open {
                    position: relative;
                }

                &.open:after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $xp-bar;
                    position: absolute;
                    bottom: 0;
                }

                &.active {
                    background-color: #3b3b3b;
                }

                i {
                    font-size: 3em;
                }
            }

        }

        .separator {
            &.vertical {
                @include separator(vertical, $separator);
            }

            &.horizontal {
                @include separator(horizontal, $separator);
            }
        }

        .custom-scrollbar {
            @include scrollbar($windows-bg);
        }
    }
}
