@import "mixins/placeholder";
@import "mixins/separator";
@import "mixins/scrollbar";
@import "variables";
@import "window";
@import "chat";
@import "characteristics";
@import "inventory";

html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        background-color: $body-bg;
        color: $light-grey;
        font-family: $fonts;
        font-weight: 400;
        overflow: hidden;

        header {

            .xp-bar {
                background-color: #1b4255;

                .progress {
                    height: 6px;
                    background-color: $xp-bar;
                    width: 50%;
                }
            }

            .info {
                display: flex;
                padding: 15px 15px 0 15px;


                .money {
                    font-size: 1.6em;
                    font-weight: 700;

                    span:first-child {
                        margin-right: 30px;
                    }
                }

                .user {
                    margin: 0 auto;
                    text-align: center;

                    .pseudo {
                        font-size: 1.3em;
                        margin: 0;
                    }

                    .lvl {
                        margin-top: 2px;
                    }
                }

                .options {
                    font-size: 1.8em;

                    a {
                        color: $light-grey;
                        margin-left: 8px;
                    }
                }
            }
        }

        #content {
            position: relative;
            overflow: hidden;
            height: 100vh;
        }

        .menu {
            display: flex;
            justify-content: center;
            border-top: 2px solid $light-grey;
            background-color: $body-bg;

            .item {
                box-sizing: border-box;
                width: 70px;
                height: 70px;
                margin: 5px;
                padding: 6px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &.open {
                    position: relative;
                }

                &.open:after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $xp-bar;
                    position: absolute;
                    bottom: 0;
                }

                &.active {
                    background-color: #3b3b3b;
                }

                i {
                    font-size: 3em;
                }
            }

        }

        .separator {
            &.vertical {
                @include separator(vertical, $separator);
            }

            &.horizontal {
                @include separator(horizontal, $separator);
            }
        }

        .custom-scrollbar {
            @include scrollbar($windows-bg);
        }
    }
}
