@import "variables";
@import "scrollbar";
@import "window";
@import "mixins/placeholder";
@import "chat";
@import "characteristics";

html {
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        background-color: $body-bg;
        color: $light-grey;
        font-family: $fonts;
        font-weight: 400;
        
        .xp-bar {
            background-color: #1b4255;

            .progress {
                height: 6px;
                background-color: $xp-bar;
                width: 50%;
            }
        }

        header {
            display: flex;
            padding: 15px 15px 0 15px;

            .money {
                font-size: 1.6em;
                font-weight: 700;

                span:first-child {
                    margin-right: 30px;
                }
            }

            .user {
                margin: 0 auto;
                text-align: center;

                .pseudo {
                    font-size: 1.3em;
                    margin: 0;
                }

                .lvl {
                    margin-top: 2px;
                }
            }

            .options {
                font-size: 1.8em;

                a {
                    color: $light-grey;
                    margin-left: 8px;
                }
            }
        }

        .content {

        }

        .menu {
            display: flex;
            justify-content: center;
            border-top: 2px solid $light-grey;
            position: absolute;
            bottom: 0;
            width: 100%;

            i {
                margin: 15px;
                font-size: 3em;
                cursor: pointer;
            }
        }
    }
}
