@import "variables";
@import "forms";
@import "window";

body {
    font-family: $fonts;
    background-color: $body-bg;
    color: $light-grey;
    margin: 0;

    header {
        .top {
            height: 6px;
            width: 100%;
            background-color: $xp-bar;
        }

        h1 {
            text-align: center;
            font-size: 1.4em;
            margin-bottom: 50px;
        }

        .fa-question-circle {
            position: absolute;
            top: 18px;
            right: 15px;
            font-size: 1.8em;
            cursor: pointer;
        }

        p {
            text-align: center;
            width: 45%;
            margin: 0 auto 50px auto;
        }
    }

    .window.login-register {
        margin: 0 auto;
        width: 450px;

        .window-title {
            cursor: default;
        }
        
        [type="submit"] {
            cursor: pointer;
        }
    }

    .copyright {
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media all and (max-width: 768px) {
    body {

        header {
            h1 {
                margin-bottom: 26px;
            }

            p {
                width: 65%;
                margin: 0 auto 35px auto;
            }
        }

        .copyright {
            position: static;
            transform: none;
        }
    }
}

@media all and (max-width: 460px) {
    body {

        header {
            h1 {
                margin-bottom: 20px;
            }

            p {
                width: 100%;
                padding: 0 5px;
                margin: 0 auto 20px auto;
                box-sizing: border-box;
            }
        }

        .window.login-register {
            width: 95%;
        }
    }
}
