@mixin scrollbar($bgcolor) {
    &::-webkit-scrollbar {
        background: $windows-bg;
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $bgcolor;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid $bgcolor;
        background: #171717;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0);
    }
}
