<div class="admin-adventures window">
    <h2 class="window-title">
        Administration des aventures
        <div class="window-close"><i class="icon-close"></i></div>
    </h2>

    <div class="window-content">
        <button id="create-adventure" class="create">Créer une aventure</button>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Durée(s)</th>
                    <th>Niveau requis</th>
                    <th>Dollars</th>
                    <th>XP</th>
                    <th><i class="far fa-edit"></i></th>
                    <th><i class="far fa-trash-alt"></i></th>
                </tr>
            </thead>
            <tbody id="adventures-admin-container"></tbody>
        </table>
    </div>
</div>
