<div class="admin-stuff window">
    <h2 class="window-title">
        Administration des équipements
        <div class="window-close"><i class="icon-close"></i></div>
    </h2>

    <div class="window-content">
        <button id="create-stuff" class="create">Créer un équipement</button>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Niveau requis</th>
                <th>Stat</th>
                <th>Rareté</th>
                <th><i class="far fa-edit"></i></th>
                <th><i class="far fa-trash-alt"></i></th>
            </tr>
            </thead>
            <tbody id="stuff-admin-container"></tbody>
        </table>
    </div>
</div>
