<div class="admin-users window">
    <h2 class="window-title">
        Administration des joueurs
        <div class="window-close"><i class="icon-close"></i></div>
    </h2>

    <div class="window-content">
        <table>
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Lvl</th>
                    <th>Date d'inscription</th>
                    <th>$</th>
                    <th><i class="fas fa-tenge"></i></th>
                    <th class="user-warnings">Avertissements</th>
                    <th>Banni</th>
                    <th><i class="fas fa-exclamation-triangle"></i></th>
                    <th><i class="fas fa-user-times"></i></th>
                </tr>
            </thead>
            <tbody id="users-admin-container"></tbody>
        </table>
    </div>
</div>
