<div class="adventures window">
    <h2 class="window-title">
        Aventures
        <div class="window-close"><i class="icon-close"></i></div>
    </h2>

    <div class="window-content">
        <div id="adventures"></div>
    </div>
</div>
