<div class="arena window">
    <h2 class="window-title">
        Arène
        <div class="window-close"><i class="icon-close"></i></div>
    </h2>

    <div class="window-content">
        <div class="info">
            <div class="text">Combats restants</div>

            <div class="attempts-info">
                <div id="remaining-fights">
                    <div class="square full"></div>
                    <div class="square full"></div>
                    <div class="square full"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                </div>

                <div id="battles-timer"></div>
            </div>
        </div>
        <div id="players"></div>
    </div>
</div>
