<div class="characteristics window extra-small">
    <h2 class="window-title">
        Caractéristiques
        <div class="window-close"></div>
    </h2>

    <div class="window-content">
        <h3>
            <span class="pseudo"></span>
            <span class="lvl"></span>
        </h3>

        <div class="xp">
            <p>Expérience:</p>
            <div class="bar">
                <div class="progress"></div>
            </div>
        </div>

        <p class="life">Points de vie: <span></span></p>
        <p class="attack">Attaque: <span></span></p>
        <p class="defense">Défense: <span></span></p>
    </div>
</div>
