<div class="chat window">
    <h2 class="window-title">
        Chat
        <div class="window-close"><i class="icon-close"></i></div>
    </h2>

    <div class="window-content">
        <div id="chat-messages" class="custom-scrollbar"></div>

        <form id="chat-form">
            <textarea class="custom-scrollbar" id="user-message" cols="30" rows="1" placeholder="Votre message..."></textarea>
            <input type="submit" value="Envoyer" title="Appuyer sur Entrée pour envoyer et appuyez sur Maj+Entrée pour ajouter un paragraphe">
        </form>
    </div>
</div>
