<div class="chat window extra-small">
    <h2 class="window-title">
        Chat
        <div class="window-close"></div>
    </h2>

    <div class="window-content">
        <div id="chat-messages" class="custom-scrollbar"></div>

        <form id="chat-form">
            <textarea class="custom-scrollbar" id="user-message" cols="30" rows="1" placeholder="Votre message..."></textarea>
            {#<div contenteditable="true" class="custom-scrollbar" id="user-message"></div>#}
            <input type="submit" value="Envoyer">
        </form>
    </div>
</div>
