<div class="inventory window large">
    <h2 class="window-title">
        Inventaire
        <div class="window-close"></div>
    </h2>

    <div class="window-content">
        <div class="stuff-infos">
            <div class="stuff-select">
                <h3 class="name"></h3>

                <p class="type"></p>
                <p class="rarity"></p>
                <p class="stats"></p>

                <button id="equipped">Équiper</button>
                <button id="unequipped">Déséquiper</button>
            </div>

            <div class="separator horizontal"></div>

            <div class="currently-equipped">
                <p>Équipés</p>

                <div class="equipped-stuff">
                    <div class="sword stuff equipped"></div>
                    <div class="shield stuff equipped"></div>
                </div>
            </div>
        </div>

        <div class="separator vertical"></div>

        <div class="all-stuff"></div>
    </div>
</div>